.projects{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3em;
}
.spanBigTextProjects{
    text-align: center;
    width: fit-content;
    height: fit-content;
    padding: 3em;
}



.bigTextProjects{
    background: linear-gradient(-2deg, white,white, rgb(214, 214, 214),white, white);
    font-size: 2em;
    padding: .5em;
    border: 3px solid black;
    border-top: 0px;
    border-bottom: 0px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.projektCard{
    height: max-content;
    text-decoration: none;
    overflow: hidden;
    background-color: var(--accent-color-a20);
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow:
    0 0 0 4px var(--accent-color),
    5px 5px 10px 5px black;
    border-radius: 1em;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: scale 1000px;
}

.projektCard:hover{
    scale: 1.01;
    cursor: pointer;
}
.projektCard>img{
    border: solid black;
    border-top: 0px;
    border-bottom: 0px;
    width: 50%;
}
.napisyProjekt{
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    text-decoration: none;
    color: black;
    width: 50%;
}
.projektCard .tytul{
    font-size: 2em;
}

@media screen and (max-width:500px){
    .projektCard>img{
        height: 170px;
    }
    .projektCard{
        width: 90%;
    }
    .projektCard .tytul{
        font-size: 2em;
    }
    .napisyProjekt{
        font-size: .8em;
    }
}